<nav class="text-center p-5 bg-gradient-to-r from-purple-500 to-pink-500 text-white font-semibold text-2xl">

<% if(user){ %>
    <a href="/profile">Home</a>
    <a class="px-14" href="/timeline">Timeline</a>
<% }else{ %>
    <a href="/">Home</a>
    <a class="px-14" href="/login">Login</a>
<% } %>

    
    
    <a class="pr-14" href="/about">About</a>
    
</nav>