<%- include('partials/header')%>

<%- include('partials/nav')%>

<div class="text-center bg-gradient-to-r from-pink-400  to-yellow-300 h-[45vh] m-10 text-white rounded-lg ">
  <h1 class="pt-12 text-4xl font-bold">Welcome To Social Media</h1>
  <p class="w-[65%] m-auto pt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, veritatis doloremque fuga exercitationem facere doloribus ab! Optio dolores voluptate reprehenderit aperiam vero? In expedita sequi dolor necessitatibus ratione, earum error!</p>
</div>

<div class="w-max m-auto">
  <button class="text-3xl bg-clip-text text-transparent font-bold bg-gradient-to-r from-violet-600 to-pink-700 p-2 rounded-lg m-auto w-max">Explore More</button>
</div>

<%- include('partials/footer')%>

