<%- include('partials/header')%>

<%- include('partials/nav')%>

<form class=" w-max m-auto p-20" action="/register-user" method="post">
    <input class="p-3 rounded-lg border-2 border-violet-600" type="text" placeholder="Full Name" name="fullname"><br><br>
    <input class="p-3 rounded-lg border-2 border-violet-600" type="text" placeholder="username" name="username"><br><br>
    <input class="p-3 rounded-lg border-2 border-violet-600" type="email" placeholder="name@123email.com" name="email" id=""><br><br>
    <input class="p-3 rounded-lg border-2 border-violet-600" type="password" placeholder="password" name="password"><br><br>
    <button class="w-max p-2 bg-gradient-to-r from-purple-500 to-pink-700 text-transparent bg-clip-text text-xl font-bold">Register</button><br>
    <p class="text-violet-900">Already have an Account? <a class="text-violet-900 hover:text-pink-700 font-medium" href="/login">Login</a></p>
</form>

<%- include('partials/footer')%>
