<%- include('partials/header')%>

<%- include('partials/nav')%>

<h1 class="font-bold text-pink-500 font-bold text-3xl m-auto w-max py-10">Forget Password</h1>

<form class="w-max m-auto" action="/forget-email" method="post">
    <input class="p-3 rounded-lg border-2 border-violet-600" type="email" name="email" placeholder="name123@gmail.com" id=""><br><br>
    <button class="w-max p-2 bg-gradient-to-r from-purple-500 to-pink-700 text-transparent bg-clip-text text-xl font-bold">Submit Email</button>
</form>

<%- include('partials/footer')%>
